<app-usernavbar></app-usernavbar>


<div>
    <div class="card" style="width: 18rem; align-items: center; width:50%;margin-left: 30%;">
        <div class="card-body" style="justify-content: center">
            <img class="card-img-top" src=".././../../assets/user.png" alt="Card image cap">
            <h5 class="card-title">User Id</h5>
            <p class="card-text">Name</p>
            <p class="card-text">Email</p>
            <p class="card-text">Phone</p>
            <p class="card-text">Profession</p>

        </div>

    </div>
</div>