<app-usernavbar></app-usernavbar>


<div *ngFor="let friend of friendsList">
    <div *ngIf = "friend.id === id" class="card" style="width: 18rem; align-items: center; width:50%;margin-left: 30%;">
        <div class="card-body" style="justify-content: center">
            <img class="card-img-top" src=".././../../assets/user.png" alt="Card image cap">
            <h5 class="card-title">{{friend.name}}</h5>
            <p class="card-text">{{friend.email}}</p>
            <p class="card-text">Member since: {{friend.created_at| date | uppercase}}</p>
            <a class="btn btn-primary">Add Friend</a>
        </div>
        
    </div>
</div>
<br>
<button style="margin-left: 30%;" class="btn btn-primary" (click)="goBacktoFriends()">Back to Friends</button>