<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbar-nav ml-auto">
            <li>
                <button class="btn btn-default btn-lg" (click) = "gotoLogin()">Login</button>
            </li>
            <li>
                <button class="btn btn-default btn-lg" (click) = "gotoRegister()">Register</button>
            </li>
        </ul>
    </div>
</nav>

<div style="position: fixed; top: 40%; left: 40%;">
    <div>
        <h1 style="margin: auto;width: 65%;">FoodOrb</h1>
        <br>
        <h3>An Angular Application</h3>
        <button style="margin: auto;width: 90%;" routerLink="/login" class="btn btn-default btn-lg">Browse App</button>
    </div>
</div>

